#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "sync-in"
name = "Sync-in"
description.en = "Platform for file storage, sharing, collaboration, and sync"
description.fr = "Plateforme de stockage, partage, collaboration et de synchronisation de fichiers"

version = "1.11.0~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://sync-in.com/"
demo = "https://sync-in.com/docs/demo"
admindoc = "https://sync-in.com/docs"
code = "https://github.com/Sync-in/server"
fund = "https://sync-in.com/support/"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = true
sso = false

disk = "900M"
ram.build = "1G"
ram.runtime = "1G"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/Sync-in/server/archive/refs/tags/v1.11.0.tar.gz"
    sha256 = "eccfc2ad87bc074d62262356db51100f2cfc879e1c2a705ddde0c2fc4a74bd4d"
    autoupdate.strategy = "latest_github_tag"
    prefetch = false

    [resources.system_user]
    allow_email = true
    
    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.apt]
    packages = "mariadb-server"

    [resources.database]
    type = "mysql"

    [resources.nodejs]
    version = "22"
